body {
    background-color: lightyellow;
}
h1 {
    color: red;
    text-align: center;
}
p {
    font-style:normal;

}

li {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 25px;
    
}
a {
    color:green;
}
